@import url('http://fonts.cdnfonts.com/css/gotham');

body{
	font-family: Gotham Light !important;
	font-display: swap;
	margin: 0px;
	text-decoration: none;
	overflow-x: hidden !important;
}

.hr_category{
	height: 10px !important;
	background: transparent;
	color: transparent;
}

li.item{
	margin-bottom: 0px !important;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #174385;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

div.item-mid:hover{
	background: #174385 !important;
	color: white !important;
	transition: all 100ms;
}


div.item-mid:hover  a:hover{
	background: #174385 !important;
	color: white !important;
	transition: all 100ms;
}

div.item-mid a{
	color: #174385	 !important;
}


div.item-mid:hover a{
	color: white !important;
}

h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 70px;
}

div.hr{
	border-top: 1px solid #f1f1f1;
	width: 100vh !important;
}

h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #174385;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel .carousel-item {
	color: #999;
	overflow: hidden;
	min-height: 120px;
	font-size: 13px;
}
.carousel .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 0 15px 0 60px ;
	position: relative;
}
.carousel .testimonial::before {
	content: "\201C";
	font-family: Arial,sans-serif;
	color: #e2e2e2;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 0;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #174385;
}
.carousel .carousel-indicators {
	bottom: -40px;

}
.carousel-indicators li, .carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 3px;
	box-sizing: border-box;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
	background: #174385;    
	border: 5px double;    
}

div.loading{
	background: #174385;
	height: 100%;
	width: 100%;
	z-index: -1;
}

img.loading2{
	margin-top: calc(15% - 30px);
}

@media only screen and (max-width: 920px) {
  img.loading2{
	margin-top: calc(60% - 30px) !important;
	width: 70% !important;
	}
}

a{
	text-decoration: none;
}

div.top-topbar{
	height: 15px;
	background: #174385;
}

div.topbar{
	padding: 30px 0px 30px 0px;
	background: ;
}

form.search_bar{
	padding: 0px !important;
	margin: 0px !important;
}

div.search_bar{
	border: 1px solid #174385;
	border-radius: 10px;
	padding: 5px;
}

input.search_bar,	 button.search_bar{
	background: transparent;
	color: #174385 !important;
	border: none !important;
	padding: 10px;
}

input.search_bar{
	width: 85% !important;
}

button.search_bar{
	width: 10% !important;
}

input.search_bar::placeholder{
	color: #072552;
}

button.search_bar img{
	height: 20px;
}

img.logo{

	height: 55px;

}



div.item-downBanner{

	padding: 30px;

	color: #174385;

}



i.bannerBottom{

	font-size: 25px;

	padding-bottom: 10px;

}



div.saiba-mais{

	background: #ECECEC;

	padding: 7px;

}



div.saiba-mais:hover{

	background: #DDDDDD;

	transition: all 300ms;

}



a.saiba-mais{

	text-decoration: none;

	color: black;

}



span.item-topbar{

	padding: 10px;

	color: #174385;

}



span.item-topbar:hover{

	transition: all 300ms;

	color: black;

}



span.item-topbar-ative{

	padding: 10px;

	color: #174385;

}



span.item-topbar-border{

	padding: 15px;

	margin-left: 20px;

	color: #174385;

	border: 1px solid #174385;

}



span.item-topbar-border:hover{

	transition: all 300ms;

	color: white;

	background: #17407D;

}



div.menu{

	display: inline-block;

	float: right;

	padding-top: 15px;

}



div.content-banner{

	align-content: center;

	margin: 100px;

}



div.mini-banner{

	display: inline-block;

	margin: 10px;

	border-radius: 10px;

	width: 430px;

}



div.mini-banner:hover{

	display: inline-block;

	margin: 10px;

}



img.minibanner{	

	width: 290px;

	margin-top: 15px;

	border-radius: 10px;

}



img.minibanner:hover{

	margin: 0px;

	transition: all 300ms;

}



div.about-us{

	margin-top: 200px;



}



div.banners{

	margin-top: 100px;

}



div.aboutDiv{

	height: 600px;

	margin-bottom: 200px;

	border-radius: 0px 15px 15px 0px;

}



div.content-aboutus{

	padding: 80px;

}



h1{

	font-family: Gotham Black;

	color: #17407D;

}



b{

	background: #17407D;

	color: white;

	padding: 2px;

	font-weight: normal;

}



p.quemSomos{

	width: 65%;

	line-height: 150%;

	height: auto !important;

}



button.about-us{

	margin-top: 20px;

	border: 1px solid #17407D;

	color: #17407D;

	padding: 10px;

	background: white;

	width: 200px;

}



button.about-us:hover{

	background: #17407D;

	transition: all 300ms;

	color: white;

}



div.footer{

	padding: 70px;

	padding-bottom: 30px !important;

	width: 100%;

	height: auto;

	border-top: 1px solid #f1f1f1;

	background: white;

	margin-top: 50px;

}



img.logo-footer{

	margin-bottom: 30px;

	width: 200px;

}



div.socialIcons{

	margin-top: 30px;

}



div.margin-top{

	margin-top: 40px !important;

}



i.socialIcons{

	color: #17407D;

	font-size: 30px;

}



i.socialIcons:hover{

	transition: all 300ms;

	color: #0E2E5D;

	font-size: 30px;

}



span.numberDestaq{

	border: 1px solid #17407D;

	background: white;

	font-size: 10px;

	color: #17407D;

	padding: 3px;

	padding-left: 5px;

	padding-right: 5px;

	border-radius: 3px;

}



p.atendimento{

	font-size: 17px;

}



label.item-footer{

	padding: 5px !important;

	text-align: center;

	color: #666;

	cursor: pointer;

}



label.item-footer:hover{

	color: black;

	transition: all 300ms;

}



h5.mapa{

	margin-bottom: 30px;

}



i.cat-icones{

	font-size: 30px !important;

	padding: 20px;

	margin: 20px;

	background: #17407D;

	color: white;

	border-radius: 100px;

	width: 70px;

}



i.cat-icones:hover{

	font-size: 35px !important;

	padding: 15px;

	margin: 20px;

	background: #17407D;

	color: white;

	border-radius: 100px;

	height: 70px;

	transition: all 100ms;

}



p.about-category{

	width: 60% !important	;

}



h1.title-section{

	margin: 220px !important;

	margin-bottom: 00px !important;

}

img.logo-parceiro{

	filter: saturate(0%);

}

img.logo-parceiro:hover{

	transition: all 200ms;

	filter: saturate(100%);

}

img.selo{

	height: 80px !important;

	filter: grayscale(100%);

	padding: 20px;

}

img.selo:hover{

	transition: all 300ms;

	filter: grayscale(0%);

}

span.copy{

	text-align: center;

	font-size: 10px !important;

	padding: 20px;

	color: #666 !important;

}



div.category{

	padding: 20px;

	border-top: 1px solid #f8f8f8;

}



.dropdown-toggle::after {

	transition: all 200ms;

    content: none;

}



.dropdown-toggle{

	cursor: pointer;

	color: #666 !important;

}



.dropdown-toggle:hover{

	text-decoration: none;

}

.dropdown{
	width: auto !important;
}



a{

	text-decoration-line: none !important;

}

.banner_in_index{
	width: 100%;
	height: 400px;
	margin-top: 150px;
	overflow: hidden;
}